body {
    margin: 0;
}
header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 15px;
    padding-top: 15px;
        }
.main-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
         }
.main-menu-item {
            display: inline-block;
            width: 120px;
         }
.main-menu-item a {
            display: block;
            color:white;
            text-align: center;
            padding: 8px 16px;
            margin-right: -5px;
            text-decoration: none;
            border-bottom: 1px solid white
        }
.main-menu-item:hover a {
            background-color: #555;      
        }
h1 {
    margin-top: 0;
    margin-bottom: 10px;
}
main {
    background-color: black;
    font-size: 16px;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}
.main-content {
    background-color: #555;
    color: white;  
    width: 60%;
    margin: 0% auto;
    padding: 50px 50px 50px 50px;
}    
span {
       color:#696969;
   } 
figure {
    text-align: center;
    margin: 0;
}
figcaption {
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 25px 0 40px 0;
    background-color: #1D1E1E;
    font-size: 12px;
    color: white;
}       